  /* Styling for the images that are not selected by the User */
  .non-selected-certificates {
    height: 200px;
    width: 250px;
  }

  .selected-certificate {
    height: 500px;
    width: 750px;
  }

  .enlarged-certificate {
    padding: 30px;

  }

  /* Style the actual image of the Certificate */
  .enlarged-certificate img{
    border: 30px, solid, brown;
  }

  .certificates-section {
    background-color: rgb(255, 106, 0);
    padding-bottom: 20px;
  }

  .certificates-section button {
    background-color: rgb(255, 167, 135);
    font-size: 20px;
    font-weight: bold;
  }

  .certificates-details {
    font-family: Consolas;
    font-size: 20px;
  }


  .sorting-dropbox {
    font-size: 30px;
    border: 3px solid black;
    border-radius: 12px;
  }