
/* Allows for the Division of the Website into the Grid Layout */
.grid-container {
    Display: grid;
    padding: 15x;
    grid-template-columns: auto auto auto;
}

.single-grid-container {
    Display: grid;
    grid-template-columns: auto;
}

.double-grid-container {
    Display: grid;
    padding: 15x;
    grid-template-columns: auto auto;
}

.software-experiences-box {
    background-color: rgb(255, 178, 36);
    border-radius: 20px;
}



.center-grid {
    align-items: center;
    display: flex;
    justify-content: center;
}