.section-title {
    font-family: Courier, monospace;
    font-size: 70px;
    font-weight: bolder;
    margin: 0px;
    text-decoration: underline dotted rgb(255, 255, 255) 5px;
    color: white;
}

.description {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: x-large;
    color: white;
}



button {
    background: none;
    border: 5px solid black;
    padding: 1.5rem 3rem;
    box-shadow: 5px 5px red, 10px 10px black, inset 5px 5px white, inset 10px 10px black;
    font-family: -system-ui, sans-serif;
    font-size: 20px;
    position: relative;
  }
  button::before, button::after {
    content: "";
    position: absolute;
    background: black;
  }
  button::before {
    top: 100%;
    left: 5px;
    height: 10px;
    width: 5px;
  }
  button::after {
    left: 100%;
    top: 5px;
    height: 5px;
    width: 5px;
  }
  
  .padding {
    padding-top: 30px;
  }
