.navbar {
    position: fixed;
    top: 0  
}

.section-title {
    font-family: Courier, monospace;
    font-size: 70px;
    font-weight: bolder;
    margin: 0px;
    text-decoration: underline dotted rgb(255, 255, 255) 5px;
    color: white;
}

.description {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: x-large;
    color: white;
}

.landing-background {
    background-image: url("../images/blue-squares.gif");
    background-size: cover;
}

.language-card {
  border-radius: 25px;
  background: #94eefc;
  height: 100px;
  width: 200px;
}

.language-flag {
  background-image: url("../images/blue-flag.png");
  height: 100px;
  width: 300px;
  background-size: fill;
}


button {
    background: none;
    border: 5px solid black;
    padding: 1.5rem 3rem;
    box-shadow: 5px 5px red, 10px 10px black, inset 5px 5px white, inset 10px 10px black;
    font-family: -system-ui, sans-serif;
    font-weight: bold;
    font-size: 2rem;
    position: relative;
  }
  button::before, button::after {
    content: "";
    position: absolute;
    background: black;
  }
  button::before {
    top: 100%;
    left: 5px;
    height: 10px;
    width: 5px;
  }
  button::after {
    left: 100%;
    top: 5px;
    height: 5px;
    width: 10px;
  }
  
  /* Styling for the images that are not selected by the User */
  .non-selected-certificates {
    height: 200px;
    width: 250px;
  }

  .selected-certificate {
    height: 500px;
    width: 750px;
  }

  .enlarged-certificate {
    padding: 30px;

  }

  /* Style the actual image of the Certificate */
  .enlarged-certificate img{
    border: 30px, solid, brown;
  }

  .certificates-section {
    background-Image: url('../images/cyan-tilted-columns.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .certificates-details {
    font-family: Consolas;
    font-size: 20px;
  }

  .sorting-dropbox {
    font-size: 30px;
    border: 3px solid black;
    border-radius: 12px;
  }

  .work-type-logo {
    height: 55px;
    width: 60px;
  }

  .work-box {
    background-color: rgb(106, 230, 106);
    border-radius: 20px;
    padding: 15px;
    width: 950px;
  }

  .work-elements {
    padding: 15px;
  }

  .work-name {
    font-family: Verdana, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: white;
    font-style: italic;
  }

  .work-duration {
    font-family: Verdana, sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: white;
  }

  .work-description {
    font-family: Verdana, sans-serif;
    font-size: 15px;
    color: rgb(255, 255, 255);
  }

  .workplace-logo {
    height: 300px;
    width: 350px;
  }
  
  .workplaces {
    padding: 15px;
  }

  .work-type {
    padding: 10px;
    font-size: 25px;
    color: rgb(61, 86, 23);
    font-family: Apple Chancery, cursive;
  }
  
  .work-experiences {
    background-color: black;
  }

  /* Styling for the Boxes displayed for the Skills */
  .first-shade {
    background-color: rgb(253, 86, 2);
    padding-top: 25px;
  }

  .second-shade {
    background-color: rgb(254, 110, 0);
    padding-top: 25px;
  }

  .third-shade {
    background-color: rgb(255, 131, 3);
    padding-top: 25px;
  }

  .fourth-shade {
    background-color: rgb(255, 175, 66);
    padding-top: 25px;
  }

  .fifth-shade {
    background-color: rgb(254, 222, 190);
    padding-top: 25px;
  }

  .skills {
    background-color: rgb(253, 198, 175);
  }

  .skills-description {
    max-width: 500px; 
    width: 100%; 
    height: 100px;
    background-color: white;
    border: black solid 5px;
    border-radius: 10px;
    text-align: center;
    font-family: DejaVu Sans Mono, cursive;
    font-size: 15px;
  }

  .skills-title {
    font-family: DejaVu Sans Mono, cursive;
    font-size: 20px;
    font-weight: bold;
    color: black;
  }

  .skills-image {
    height: 50px;
    width: 55px;
  }