.navbar {
    position: fixed;
    top: 0;
    background-color: rgb(0, 0, 0);
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* Make sure that the Navbar is ontop of every other element of the Website */
    z-index: 100;
}

.home-button {
  background-color: rgb(255, 142, 22);
  font-family: cursive;
  font-weight: bold;
  color: white;
  font-size: xx-large;
  text-decoration: underline dashed rgb(255, 255, 255);
  cursor: pointer;
}

.navbar-buttons {
    background-color: rgb(255, 174, 0);
    font-family: Bradley Hand, cursive;
    font-weight: bold;
    color: white;
    width: 200px;
    text-decoration: underline dashed rgb(255, 255, 255);
    height:  100px;
    cursor: pointer;
  }

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

.scroll-to-top img {
    width: 80px; 
    height: 80px; 
    display: block;
  }
